:root {
    --c-white : rgb(204, 200, 194);
    --c-gray : rgb(184, 184, 179);
    --c-invis : rgba(0, 0, 0, 0.700);
    --c-h-gray-bt : rgb(160, 157, 154);
    --c-a-gray-bt : rgb(146, 145, 142);
    --c-gray-bt : rgb(197, 193, 187);
    --c-sea : rgb(0, 132, 255);

    --cust : rgba(0, 0, 0, 0.300);

    --bg-silver : linear-gradient(55deg, #afafaf 0%, #f3f3f3 51%, #a1a1a1 85%);
    --bg-co : linear-gradient(55deg, #ebebeb 0%, #f3f3f3 60%, #a1a1a1 100%);

    --shd-v1 : 0px 2px 5px var(--c-invis);
    --shd-v2 : 0px 2px 2px var(--c-invis);
    --shd-v3 : 0px 5px 5px var(--c-invis);
    --shd-inset : 1px 2px 5px var(--c-invis) inset;

    --co-shd : 2px 2px 5px var(--c-invis);
}

::-webkit-scrollbar {
    background-color: transparent;
    width:7px;
}

::-webkit-scrollbar-button {
    display:none;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
}

.br {
    margin-top:140px;
}

.input-pos {
    margin-left:auto;
}

.input {
    width:200px;
    background-color: white;
    box-shadow: var(--shd-v1);
    margin: 0px 10px;
    padding: 8px;
    border: 1px solid var(--c-h-gray-bt);
    border-radius: 14px;
    outline: none;
    cursor: default;
    
}

input[type=text],
input[type=password] {
    border:0px solid transparent;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
}

body {
    background-color: var(--c-white);
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Segoe UI';
}

/* ================ Navbar ================ */

header {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-cont {
    width: 100%;
    background-color: var(--c-gray);
    box-shadow: var(--shd-v1);
    position: fixed;
    top: 0;

}

.navbar-tix {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    margin-bottom: 55px;
    border-bottom: 1px solid var(--c-invis);
}

.navbar-tix label {
    margin: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-btn-cont::-webkit-scrollbar {
    display:none;
}

.navbar-btn-cont {
    margin: 6px 0px;
    display:flex;
    align-items: center;
    width: 97.5%;
    height:50px;
    overflow-x: auto;
    white-space: nowrap;
    position: fixed;
    top: 70px;
    border-radius: 10px;
}

.navbar-btn-start {
    color: black;
    background-color: var(--c-gray-bt);
    box-shadow: var(--shd-v2);
    padding: 8px 20px;
    display:inline-block;
    border-right: 1px solid var(--cust);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
    cursor: default;
}

.navbar-btn {
    color: black;
    background-color: var(--c-gray-bt);
    box-shadow: var(--shd-v2);
    margin-left: -4px;
    padding: 8px 20px;
    display:inline-block;
    border-right: 1px solid var(--cust);
    text-decoration: none;
    cursor: default;
}

.navbar-btn-end {
    color: black;
    background-color: var(--c-gray-bt);
    box-shadow: var(--shd-v2);
    margin-left: -4px;
    padding: 8px 20px;
    display:inline-block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    cursor: default;
}

/* Hover */
.navbar-btn-start:hover {
    background-color: var(--c-h-gray-bt)
}

.navbar-btn:hover {
    background-color: var(--c-h-gray-bt)
}

.navbar-btn-end:hover {
    background-color: var(--c-h-gray-bt)
}

/* Active */
.navbar-btn-start:active {
    background-color: var(--c-a-gray-bt);
    box-shadow: var(--shd-inset);
}

.navbar-btn:active {
    background-color: var(--c-a-gray-bt);
    box-shadow: var(--shd-inset);
}

.navbar-btn-end:active {
    background-color: var(--c-a-gray-bt);
    box-shadow: var(--shd-inset);
}

/* ================ Content ================ */

.list-s {
    position: fixed;
    background:rgba(255, 0, 0, 0.445);
    right: 0;
    top: 120px;
}

.content-search {
    width:180px;
    height:40px;
    background-color: white;
    box-shadow: var(--shd-v2);
    border-bottom:1px solid var(--c-gray);
    border-top:1px solid var(--c-gray);
    margin-left:auto;
    padding:0px 12px;
    display: none;
    align-items: center;
    font-size: 14px;
}

.content-search:hover {
    background-color: var(--c-gray-bt);
}

.content-search:active {
    background-color: var(--c-h-gray-bt);
    box-shadow: var(--shd-inset);
}

.content-sys {
    transition: 1000ms;
    height:100%;
    background:white;
    box-shadow: var(--shd-v1);
    margin: 0px 2vh;
    padding:20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    cursor:default;
}

.content-bg-ti {
    width:100%;
    background:var(--bg-silver);
    box-shadow: var(--shd-v2);
    padding:0px 2vh;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    display: flex;
    justify-content: center;
}

/* ================= Card Anim ================= */

@keyframes cardAnim {
    0% {opacity:0%}
}

@keyframes cardParaf {
    0% {opacity: 0%; margin-top:50px; filter:blur(2px)}
    100% {opacity: 100%;}
}

@keyframes bgAnim {
    0% {opacity: 0%; transition: 1000ms; background: url(/library/assets/img/bg/astronomy.png);}
    50% {transition: 1000ms; background:0px -100px url(/library/assets/img/bg/astronomy.png);}
    100% {transition: 1000ms; background:0px -200px url(/library/assets/img/bg/astronomy.png);}
}
/* ================= Card Anim ================= */

.content-sys-card {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height:100%;
    transition: 1000ms;
    background:0px -200px url(/library/assets/img/bg/astronomy.png);
    box-shadow: var(--shd-v3);
    animation-name: bgAnim;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    margin: 0px 2vh;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    border-radius: 20px;
    cursor:default;
}

.content-sys-card:active {
    transition: 1000ms;
    background: url(/library/assets/img/bg/astronomy.png);
    border-radius: 20px;

}

.content-bg-card {
    width:100%;
    background:var(--bg-silver);
    box-shadow: var(--shd-v3);
    animation-name: cardAnim;
    animation-duration: 300ms;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
    padding:0px 2vh;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    position:relative;
    top:10;
}

.content-tix-card {
    animation-name: cardParaf;
    animation-duration: 600ms;
    animation-timing-function: linear;
    padding: 5px 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--c-invis);
    border-bottom-left-radius: 19px;
    display: flex;
    align-items: center;
}

.content-cont {
    background: var(--bg-silver);
    box-shadow: var(--co-shd);
    width: 250px;
    height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 12px;
    padding: 2px;
    border-radius: 5px;
}

.content-cont img {
    border-radius: 5px;
}

.content-tex label {
    font-size: 20px;
    padding: 2px;
}

.content-tex span {
    font-size: 11px;
}

.content-page {
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.content-page-pos {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-btn a {
    color:black;
    background-color: var(--c-gray-bt);
    box-shadow: var(--shd-v2);
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: default;
}

.left-btn {
    cursor: pointer;
}

.right-btn {
    cursor: pointer;
}

.page-btn a:hover {
    background-color: var(--c-h-gray-bt)

}

.page-btn a:active {
    background-color: var(--c-a-gray-bt);
    box-shadow: var(--shd-inset);

}

/* ================ Footer ================ */

.footer-cont {
    width: 100%;
    height:55px;
    background-color: var(--c-gray);
    box-shadow: 0px -5px 5px var(--c-invis);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-cont a {
    color: var(--c-sea);
    margin: 4px;
    text-decoration: none;

}

.footer-cont a:hover {
    color: var(--c-invis);
    text-decoration: underline;
}

.hidden-bar-on {
    background-color: var(--c-gray);
    border:0px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position:fixed;
    bottom:55px;
}

.hidden-bar-off {
    background-color: var(--c-gray);
    border:0px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position:fixed;
    bottom:0;
}
